/* tablet */
@media screen and (max-width:780px) {
    .gap {
        width: 30%;
    }

    .box {
        margin-left: 13px;
        width: 16vw;
        height: 29vh;
    }

    .obed {
        width: 10vw;
        height: 19vh;
    }

    .ppp {
        font-size: x-small;
    }

    .div2 {
        width: fit-content;
        height: fit-content;

    }

    .pp {
        font-size: xx-small;

    }

    .start {
        width: 1vw;
        height: 1vh;
        margin-bottom: 25px;

    }

    .imj {

        width: 2vw;
    }

    .paj {
        width: fit-content;
        height: 6vh;
        position: relative;
        bottom: 12px;
    }
}


/* mobile */
@media screen and (max-width:700px) {
    .gap {
        width: 30%;
    }

    .box {
        margin-left: 13px;
        width: 18vw;
        height: 29vh;
    }

    .obed {
        width: 15vw;
        height: 15vh;
    }

    .ppp {
        font-size: x-small;
        font-size: 6px;
    }

    .div2 {
        width: fit-content;
        height: fit-content;

    }

    .pp {
        font-size: xx-small;
        font-size: 6px;

    }

    .start {
        width: 8vw;
        height: 6vh;
        margin-bottom: 25px;

    }

    .imj {

        width: 2vw;
    }

    .paj {
        width: fit-content;
        height: 6vh;
        margin-top: 10px;
    }
}